* {
 font-family: 'Roboto', sans-serif;
 padding-left: 10px;
 padding-right: 20px;
 background-color: #FCEED1;
 }

a {
 padding: 0;
} 

 h1 {
 font-size: 16pt; 
 background-color: #9370DB;
 }
 
 p {
 font-size: 12pt;
 }

img {
max-width: 100%;
width: 400px;
border: 4mm ridge rgba(242, 213, 60, .6);
}

title {
font-weigth: bold;
font-size: 18px;
}
